[Unit]
Description=Switches a relay on or off depending on whether there are upcoming or running recording entries in TVHeadend or not
After=tvheadend.service
Requisite=tvheadend.service

[Service]
ExecStart=/usr/local/bin/tvh-dvb-relay-power-control/env/bin/python -m rpitvhdvbrelaypowercontrol
User=tvh-dvb-relay-power-control

[Install]
WantedBy=multi-user.target



